<div class="lists-container" cdkDropList cdkDropListOrientation="horizontal" (cdkDropListDropped)="onDrag($event)"
    [cdkDropListData]="lists">
    <bbc-list [connectedListsIds]="listIds" *ngFor="let list of lists" [list]="list"></bbc-list>
</div>