<div cdkDropListOrientation="horizontal" cdkDropList (cdkDropListDropped)="drop($event)" [cdkDropListData]="boards" class="board-list-container">
    <div class="board-list-item" *ngFor="let board of boards" cdkDrag>
        <bbc-board-list-item [board]="board"></bbc-board-list-item>
    </div>
</div>