<mat-drawer-container hasBackdrop=false>
    <mat-drawer position="end" #menu>
        <button mat-icon-button (click)="onMenuToggle()">
            <mat-icon>close</mat-icon>
        </button>
        <bbc-board-actions [board]="board"></bbc-board-actions>
    </mat-drawer>
    <mat-drawer-content>
        <bbc-board-toolbar (menuToggle)="onMenuToggle()" [board]="board"></bbc-board-toolbar>
        <div class="board-container">
            <bbc-lists [lists]="board.lists"></bbc-lists>
            <bbc-list-add (listCreated)="addList($event)"></bbc-list-add>
        </div>
        <div>
            <router-outlet name="card"></router-outlet>
        </div>
    </mat-drawer-content>
</mat-drawer-container>