<div class="card-form-container">
    <textarea [formControl]="cardNameForm" class="card-name-textarea" name="cardName" cols="21" rows="2"></textarea>
</div>
<button mat-button (click)="closeForm()">x</button>
<button mat-button (click)="createCard()">צור</button>