#card-dialog-cover {
  height: 200px;
  object-fit: cover;
  width: 100%;
}

#card-details {
  padding: 10px 16px;

  #labels-container {
    margin-bottom: 10px;
  }

  #description-container {
    margin: 10px;

    #description-title {
      font-weight: 500;
    }
    #description {
      background-color: rgba(9,30,66,.04);
      border-radius: 2px;
      padding: 10px;
    }
  }
}
