<img *ngIf="card.cover" id="card-dialog-cover" mat-card-image [src]="card.cover">
<div id="card-details">
    <div id="labels-container" *ngIf="card.labels">
        <bbc-static-label-list [labels]="card.labels"></bbc-static-label-list>
    </div>
    <h1>{{card.title}}</h1>
    <mat-divider></mat-divider>
    <div id="description-container">
        <h2 id="description-title" translate>CARD.CARD_DIALOG.DESCRIPTION_TITLE</h2>
        <div id="description" *ngIf="card.description">
            <markdown [data]="card.description"></markdown>
        </div>
    </div>
</div>