<div class="assignee-list">
    <bbc-assignee *ngFor="let assignee of assigneeToDisplay" [assignee]="assignee"></bbc-assignee>
    <bbc-assignee-limit-indicator [assignees]="assigneeNotDisplayed" *ngIf="wasAssigneeDisplayLimitReached"></bbc-assignee-limit-indicator>
</div>