.card {
  padding: 1px;
  cursor: pointer;
  transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
  border-radius: 4px;
  background: #fff;
  color: rgba(0,0,0,.87);
  font-family: Roboto, "Helvetica Neue", sans-serif;
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),0px 1px 1px 0px rgba(0, 0, 0, 0.14),0px 1px 3px 0px rgba(0, 0, 0, 0.12);

  img {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    margin: -1px -1px 0px -1px;
    width: calc(100% + 2px);
  }

  .label-list-container {
    margin: 0px 15px;
    margin-top: 4px;
  }

  .card-title {
    padding: 8px 18px;
  }

  .footer-container {
    display: flex;
    justify-content: space-between;
  
    .due-date-container {
      padding: 0px 12px;

      .due-date {
        margin: 0px;
        line-height: 40px;
      }
    }
    .card-indicators {
      margin-top: 10px;

      .card-indicator {
        color: rgb(63, 63, 63);
      }
    }
  }
}
