<div class="card" (click)="onClick()">
  <img *ngIf="card.cover" [src]="card.cover">

  <div class="label-list-container">
    <bbc-label-list *ngIf="card.labels" [labels]="card.labels"></bbc-label-list>
  </div>

  <p class="card-title">
    {{card.title}}
  </p>

  <div class="footer-container">
    <!-- <div class="card-indicators">
        <mat-icon class="card-indicator" *ngIf="card.description">notes</mat-icon>
        <mat-icon class="card-indicator" *ngIf="card.description">comment</mat-icon>
    </div> -->
    <div class="due-date-container">
      <p class="due-date" *ngIf="card.dueDate">{{card.dueDate | date}}</p>
    </div>
    <bbc-assignee-list [assignees]="card.assignees"></bbc-assignee-list>
  </div>
  
</div>