.assignee {
    margin: 0px 1px;
    width: 30px;
    height: 30px;
    border-radius: 20px;
    background-color: rgba(210,210,210,.87);
    text-align: center;
    
    .assignee-name {
      line-height: 28px;
    }
  }