<div class="card-list" cdkDropList (cdkDropListDropped)="onDrag($event)" [cdkDropListData]="cards"
[cdkDropListConnectedTo]="connectedListsIds" id={{listId}}>
    <div class="card" cdkDrag  [cdkDragData]="card" *ngFor="let card of cards">
        <bbc-card [card]="card"></bbc-card>
    </div>
</div>