<div class="list-container" cdkDrag [cdkDragData]="list">
    <bbc-list-header [list]="list" cdkDragHandle></bbc-list-header>
    <div class="list">
        <div class="card-list-container">
            <bbc-card-list (cardMovedIn)="onCardMove($event)" [listId]="list.id" [connectedListsIds]="connectedListsIds"
                [cards]="list.cards"></bbc-card-list>
        </div>
    </div>
    <div class="list-footer-container">
        <bbc-list-footer [list]="list"></bbc-list-footer>
    </div>
</div>