.list-container {
  background-color: #ebecf0;

  .list {
    overflow-y: auto;
    overflow-x: hidden;
    scrollbar-width: thin;
    max-height: calc(90vh - 100px);
    border-radius: 3px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    line-height: 20px;
    font-size: 14px;
    width: 272px;

    
  }
  .list-footer-container {
    padding: 0px 8px 8px 8px;
  }
  .card-list-container {
    padding: 0px 8px;
  }
}

.cdk-drag-placeholder {
  opacity: 0.1;
  filter: grayscale(100%);
}