#app-container {
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  #toolbar {
    background-color: rgba(93, 93, 93, 0.2);
    height: 50px;

    #app-title {
      padding: 10px;
      cursor: pointer;
    }
  }
}
