<div [matTooltip]="label.name" [ngClass]="{'label-with-text': isNameVisible}" class="label" [ngStyle]="{'backgroundColor': label.color}"
    (click)="onClick($event)">
    <p class="label-name">{{label.name}}</p>
</div>