.label {
  height: 10px;
  width: 40px;
  border-radius: 5px;
  margin: 2px 2px;
  transition: width 0.4s ease-in 0.4s, height 0.2s ease-in;
  text-align: center;
  color: #fff;
  text-overflow: ellipsis;
  
  .label-name {
    opacity: 0;
    transition: opacity 0.1s;
  }
}

.label-with-text {
  width: 69px;
  height: 20px;
  text-align: center;
  transition: width 0.4s ease-in, height 0.2s ease-in 0.5s;

  .label-name {
    opacity: 1;
    transition: opacity 1s 0.5s;
  }
}
