.static-label {
    height: 32px;
    line-height: 32px;
    width: auto;
    min-width: 40px;
    border-radius: 3px;
    text-align: center;
    padding: 0 12px;
    min-width: 40px;
    margin: 0 4px 4px 0;
    color: #fff;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 500;

    :hover {
        opacity: .8;
    }
  }
  