<button *ngIf="!showCardForm" (click)="onClickAddCard()" class="add-card-button" mat-button>
    <span translate>LIST.LIST_FOOTER.ADD_CARD_BUTTON</span>
</button>
<bbc-card-add [listId]="list.id" (cancelCreation)="closeAddCard()" (cardCreated)="closeAddCard()" *ngIf="showCardForm">
</bbc-card-add>