#list-add-container {
  width: 272px;
  height: 40px;
  line-height: 20px;
  font-size: 14px;
  border-radius: 3px;
  background-color: rgba(0, 0, 0, 0.08);
  margin: 10px;
  transition: background 85ms ease-in, opacity 40ms ease-in,
    border-color 85ms ease-in;
  cursor: pointer;

  &:hover {
    background-color: rgba(0, 0, 0, 0.16);
  }

  &:active {
    background-color: rgba(0, 0, 0, 0.32);
  }

  p {
    padding: 10px;
  }

  #add-list-input {
    border: none;
    box-shadow: inset 0 0 0 2px #0079bf;
    border-radius: 3px;
    background: #fff;
    display: block;
    margin: 0;
    padding: 0px 15px;
    transition: margin 85ms ease-in, background 85ms ease-in;
    width: 100%;
    height: 100%;
  }
}
