<div id="list-add-container" (click)="onClick()">
    <p *ngIf="!displayInput">הוסף רשימה חדשה +</p>
    <input [formControl]="listName" id="add-list-input" type="text" *ngIf="displayInput">
    <button *ngIf="displayInput" (click)="addNewList()" mat-raised-button color="primary">הוסף</button>
</div>