.assignee-limit-indicator {
  margin: 0px 1px;
  width: 30px;
  height: 30px;
  border-radius: 20px;
  background-color: rgba(210, 210, 210, 0.87);
  text-align: center;

  p {
    line-height: 30px;
  }
}

::ng-deep .mat-tooltip {
  white-space: pre-line;
}
